body {
    background: url("../images/MMLB.jpg");
    background-size: repeat;
    width: 100%;
    height: 30px;
}

#wrapper {
    width: 900px;
    height: 1000px;
    margin: auto;
    background-color: #6AA84F;
}

header h2 {
    font-size: 2.5em;
    color: black;
    float: left;
    margin: 50px 80px 50px 112px;
}

header img {
    width: 178px;
    float: left;
    margin-left: 20px;
}

header {
    background: url("../images/MLLB.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: 14px, 0px;
}

form {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

main #ads {
    width: 200px;
    position: fixed;
    right: 0px;
    border: 3px solid #7F5F3C;
    height: 300px;
    background-color: white;
}


nav {
    width: 900px;
    height: 60px;
    background-color: #38761D;
    clear: both;
    text-align: center;
    border-bottom: 5px dashed #000000;
    border-top: 5px solid #7F5F3C;
    padding: 30px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #FFFFFF;
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: purple;
    text-shadow: 4px 4px 2px yellow;
}

main {
    background-color: #FFFFFF;
    height: 800px;
}

main section {
    width: auto;
    height: 40px;
    float: left;
    margin: 10px;
}





main section img{
    max-width: 1000px;
    max-height: 1500px;
}

footer{
    background-color: pink;
    height:100px;
}

