/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
 
/* This is the parent of the activity 1 boxes. */
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
gap: 20px;
  
}
.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
   grid-column: 1 / 3;
} 
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
   grid-column: 1 / 3;
} 
/* Activity 2 styles */ 
 
.content2 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  gap: 10px;
  position: relative; 
}

.red2 {
  width: 100px;
  height: 100px;
  background-color: red;
  grid-column: 1 / 3;
  grid-row: 1;
  z-index: 3;
}

.green2 {
  width: 100px;
  height: 100px;
  background-color: green;
  grid-column: 2 / 4;
  grid-row: 1;
  z-index: 2;
  margin-top: 30px;
}

.yellow2 {
  width: 100px;
  height: 100px;
  background-color: gold;
  grid-column: 3 / 5;
  grid-row: 1;
  z-index: 1;
  margin-top: 60px;
}

.blue2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  grid-column: 4 / 6;
  grid-row: 1;
  z-index: 0;
  margin-top: 90px;
}

/* Activity 3 styles */ 
.content3 {
  display: grid;
  grid-template-columns: 1fr 50px 1fr; 
  grid-template-rows: 150px 150px 150px;
  height: 450px;
}
.red3 {
  grid-column: 1 / 4;  
  grid-row: 1 / 2;
  background-color: red;
}

.green3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: green;
}

.yellow3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: yellow;
}

.blue3 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: blue;
}
/* Activity 4 styles */ 
.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr); 
  width: 300px;
  height: 450px;
  gap: 0px;
}

.red4 {
  grid-column: 1;
  grid-row: 1 / span 3; 
  background-color: red;
  width:330px;
}

.green4 {
  grid-column: 2;
  grid-row: 1;
  background-color: green;
  width:330px;
}


.yellow4 {
  grid-column: 2;
  grid-row: 2;
  background-color: gold;
  
}

.blue4 {
  grid-column: 2;
  grid-row: 3;
  background-color: blue;
}

/* Activity 5 styles */ 
.content5 {
  width: 700px;
  background-color: white;
  padding: 0;
  margin: 0 auto;
}

.red5 {
  background-color: red;
  height: 150px;
  width: 100%;
}

.green5 {
  background-color: green;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.yellow5 {
  background-color: yellow;
  min-height: 250px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: black;
  line-height: 1.4;
}


.blue5 {
  background-color: blue;
  height: 150px;
  width: 100%;
  clear: both;
}

/* Activity 6 styles */ 
.content6 {
  /* Canvas area */
  width: 400px;
  height: 400px;
  background-color: black; 
  position: relative;
  overflow: hidden;
}

.white-area {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: white;
}

.red6 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 70%;
  height: 30%;
  background-color: red;
  z-index: 2;
}

.blue6 {
  position: absolute;
  top: 15%;
  left: 18%;
  width: 70%;
  height: 70%;
  background-color: blue;
  z-index: 3;
}


.yellow6 {
  position: absolute;
  top: 25%;
  right: 1%;
  width: 25%;
  height: 74%;
  background-color: gold;
  z-index: 4;
}


.green6 {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 35%;
  height: 30%;
  background-color: green;
  z-index: 4;
}

/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}