body {
    background-color: #4c4b4b;
    color: #d8950f;
    font-family: "Creepster", cursive, Arial, sans-serif;
    background-image: url(https://pm1.aminoapps.com/6997/a5d4cbbc88e8111714bc0360e9b9106448fea223r1-1920-1437v2_hq.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    background-color: #d8950f;
    max-width:1000px;
    margin:30px auto;
    border:3px solid black;
    border-radius:20px;
    box-shadow: 0 0 25px 10px #ff6600;
    padding: 20px;
}

nav {
    background-color: #1a0000;
    border-bottom: 3px solid orange;
}

nav li{
    color:white;
    margin:0 25px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s, transform 0.2s ease;

}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    padding: 8px; 
}

nav a:hover{
 color:#ff3333;
 transform :scale(1.3);
 
}

nav li:hover {
    color: #ff6600;
    transform: scale(1.3);
    text-shadow: 0 0 10px #ff3300, 0 0 20px #ff6600;
}

h1{
    text-align: center;
    font-size: 3rem;
    color:#ff7518;
    text-shadow:3px 3px 10px #ff3300;
    margin-top:20px;

}

h2{
    color:#ff9933;
    border-bottom: 2px solid;
    text-shadow:1px 1px 5px black;

}

img{
    display:block;
    margin:20px auto;
    width:500px;
    border-radius: 20px;
    border: 5px solid#ff6600;
    box-shadow: 0 0 30px 10px;
}

section {
    margin: 30px 0;
    background-color: rgba(255, 140, 0, 0.442);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.03);
}

/* Paragraphs */
p {
    line-height: 1.6;
    color: #f1e6c1;
}

/* Footer */
footer {
    text-align: center;
    background-color: #1a0000;
    color: orange;
    padding: 10px;
    font-weight: bold;
    border-top: 3px solid orange;
    border-radius: 0 0 15px 15px;
}