@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


h1{
    font-family:'Konkhmer Sleokchher', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Merriweather', serif;
    font-size:1em;/*1em=100%, 1.1em=110%*/

}