h1{
    border:3px solid palevioletred;
    border-radius:10px;
}
p{
    border-top: 5px solid plum;
    border-bottom: 5px solid pink;
    border-right: 5px solid purple;
    border-left:5px solid gold;
}